:root {
    --primary-color: #006E5C;
    --secondary-color: #f5f5f5;
    --background-color: #f0fdfa;
    --text-color: #FFFFFF;
    --dark-text-color: #333;
    --button-color-light: #F0F2F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.light-background {
    --background-color: #f2f9f9;
    --surface-color: #ffffff;
}

.accent-background {
    --background-color: #008374;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --accent-color: #ffffff;
    --surface-color: #00b6a1;
    --contrast-color: #ffffff;
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 112px;
    overflow: clip;
}

@media (max-width: 1199px) {

    section,
    .section {
        scroll-margin-top: 100px;
    }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.section-title p {
    margin-bottom: 0;
}

.section-title-white {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

.section-title-white h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title-white h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--dark-text-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.section-title-white p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
    --background-color: #008374;
    --heading-color: #ffffff;
    color: var(--default-color);
    transition: all 0.5s;
    z-index: 997;
    background-color: var(--background-color);
}

.header .topbar {
    background-color: color-mix(in srgb, var(--accent-color) 90%, black 10%);
    height: 40px;
    padding: 0;
    font-size: 14px;
    transition: all 0.5s;
}

.header .topbar .contact-info i {
    font-style: normal;
    color: var(--contrast-color);
}

.header .topbar .contact-info i a,
.header .topbar .contact-info i span {
    padding-left: 5px;
    color: var(--contrast-color);
}

@media (max-width: 575px) {

    .header .topbar .contact-info i a,
    .header .topbar .contact-info i span {
        font-size: 13px;
    }
}

.header .topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

.header .topbar .contact-info i a:hover {
    color: var(--contrast-color);
    text-decoration: underline;
}

.header .topbar .social-links a {
    color: color-mix(in srgb, var(--contrast-color), transparent 40%);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

.header .topbar .social-links a:hover {
    color: var(--contrast-color);
}

.header .branding {
    min-height: 60px;
    padding: 10px 0;
}

.header .logo {
    line-height: 1;
}

.header .logo img {
    max-height: 36px;
    margin-right: 8px;
}

.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
}

.header .logo span {
    font-size: 32px;
    margin-left: 2px;
    color: var(--nav-hover-color);
}

.scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu>ul>li {
        white-space: nowrap;
        padding: 15px 14px;
    }

    .navmenu>ul>li:last-child {
        padding-right: 0;
    }

    .navmenu a,
    .navmenu a:focus {
        color: var(--nav-color);
        font-size: 15px;
        padding: 0 2px;
        font-family: var(--nav-font);
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    .navmenu>ul>li>a:before {
        content: "";
        position: absolute;
        height: 2px;
        bottom: -6px;
        left: 0;
        background-color: var(--nav-hover-color);
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }

    .navmenu a:hover:before,
    .navmenu li:hover>a:before,
    .navmenu .active:before {
        visibility: visible;
        width: 100%;
    }

    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--nav-color);
    }

    .navmenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu .dropdown ul li {
        min-width: 200px;
    }

    .navmenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: var(--nav-dropdown-color);
    }

    .navmenu .dropdown ul a i {
        font-size: 12px;
    }

    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navmenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
    }

    .navmenu .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
    }
}

/* Mobile Navigation */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: var(--nav-color);
        font-size: 28px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
    }

    .navmenu ul {
        display: none;
        list-style: none;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: var(--nav-mobile-background-color);
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        box-shadow: none;
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
    }

    .navmenu a,
    .navmenu a:focus {
        color: var(--nav-dropdown-color);
        padding: 10px 20px;
        font-family: var(--nav-font);
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    }

    .navmenu a i:hover,
    .navmenu a:focus i:hover {
        background-color: var(--accent-color);
        color: var(--contrast-color);
    }

    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .active i,
    .navmenu .active:focus i {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        transform: rotate(180deg);
    }

    .navmenu .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: var(--nav-dropdown-background-color);
        transition: all 0.5s ease-in-out;
    }

    .navmenu .dropdown ul ul {
        background-color: rgba(33, 37, 41, 0.1);
    }

    .navmenu .dropdown>.dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .mobile-nav-toggle {
        color: #fff;
        position: absolute;
        font-size: 32px;
        top: 15px;
        right: 15px;
        margin-right: 0;
        z-index: 9999;
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.8);
        transition: 0.3s;
    }

    .mobile-nav-active .navmenu>ul {
        display: block;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    position: relative;
    padding: 140px 0 0 0;
}

.hero .container {
    position: relative;
    z-index: 3;
}

.hero h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero h2 .accent {
    color: var(--conrast-color);
}

.hero p {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    font-weight: 400;
    margin-bottom: 30px;
}

.hero .btn-get-started {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    border: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
    background-color: color-mix(in srgb, var(--default-color), transparent 90%);
}

.hero .btn-get-started:hover {
    border-color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    font-weight: 600;
    color: var(--default-color);
}

.hero .btn-watch-video i {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}

.hero .btn-watch-video:hover i {
    color: var(--default-color);
}

@media (max-width: 640px) {
    .hero h2 {
        font-size: 36px;
    }

    .hero .btn-get-started,
    .hero .btn-watch-video {
        font-size: 14px;
    }
}

.hero .icon-boxes {
    padding-bottom: 60px;
    z-index: 4;
}

@media (min-width: 1200px) {
    .hero .icon-boxes:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(50% + 20px);
        background-color: var(--default-color);
        border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    }
}

.hero .icon-box {
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: var(--background-color);
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
}

.hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.hero .icon-box .title a {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    transition: 0.3s;
}

.hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 48px;
    line-height: 1;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.hero .icon-box:hover {
    background-color: color-mix(in srgb, var(--background-color), white 10%);
}

.hero .icon-box:hover .title a,
.hero .icon-box:hover .icon {
    color: var(--contrast-color);
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about_section {
    position: relative;
    padding-top: 75px;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: start;
}

.about_section .img-box img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.about_section .detail-box p {
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 7px 30px;
    background-color: transparent;
    color: #3554d1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #3554d1;
    border-radius: 25px;
    margin-top: 25px;
}

.about_section .detail-box a:hover {
    background-color: #3554d1;
    border-color: transparent;
    color: #ffffff;
}

.about_section .square-box {
    position: absolute;
    right: 25px;
    bottom: 0;
    width: 75px;
}

.about_section .square-box img {
    width: 100%;
}

@media (max-width: 768px) {
    .about_section {
        padding-top: 0;
    }

    .sub_page .about_section {
        padding-top: 90px;
    }

    .about_section .detail-box {
        margin-top: 35px;
    }
}

/*--------------------------------------------------------------
# Product Section
--------------------------------------------------------------*/

.product {
    width: 100%;
    position: relative;
    padding: 75px 0 75px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 400px;
    background: #f4f4f4;
    position: relative;
    border-radius: 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow .5s ease-in-out,
        transform .5s ease-in-out;
    overflow: hidden;
}

.card:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, .2);
}

.card .imgBox {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
}

.card .details {
    position: absolute;
    width: 100%;
    height: 47.5%;
    background: #f4f4f4be;
    padding: 10px 20px;
    bottom: -30%;
    transition: .5s;
}

.card .details:hover {
    bottom: -15%;
}

.card .details .textContent {
    position: relative;
    margin-top: 10px;
    color: #555;
}

.card .details .textContent h3 {
    font-size: 20px;
    padding: 5px 0;
}

.card .details .textContent .price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
}

.card .details h4 {
    font-size: 18px;
    margin-top: 15px;
    padding: 10px 0;
    font-weight: bold;
    color: #555;
}

.card .details ul {
    display: flex;
}

.card .details ul li {
    list-style: none;
    width: 15px;
    height: 15px;
    margin: 5px;
    cursor: pointer;
}

.card .details ul li:nth-child(1) {
    background: #00f;
}

.card .details ul li:nth-child(2) {
    background: #f00;
}

.card .details ul li:nth-child(3) {
    background: #0ff;
}

.card .details ul li:nth-child(4) {
    background: #ff0;
}

.card .details ul li:nth-child(5) {
    background: #f0f;
}

.card .details button {
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    background: #45b9e0;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.card .details button:hover {
    background: #5acef4;
}

.card .description {
    background: #92879b;
    position: absolute;
    width: 140px;
    height: 140px;
    top: -70px;
    right: -70px;
    border-radius: 0 0 200px 200px;
    transition: all .5s, border-radius 1s, top 1s;
}

.card .description .icon {
    position: absolute;
    top: 85px;
    right: 85px;
    color: #fff;
    opacity: 1;
}

.card .description:hover {
    width: 100%;
    height: 80%;
    right: 0;
    top: 0;
    border-radius: 0;
}

.card .description:hover .icon {
    opacity: 0;
}

.card .description .contents {
    color: #fff;
    padding: 5%;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity .2s, transform .8s;
    opacity: 0;
}

.card .description:hover .contents {
    transform: scale(1);
    opacity: 1;
    transform: translateY(0);
}

.card .description h2 {
    margin: 20px 0;
    text-align: center;
}

/*--------------------------------------------------------------
# Testimonial Section
--------------------------------------------------------------*/

.testimonial-section {
    position: relative;
}

.testimonial-section .vagetable-shape {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 1199px) {
    .testimonial-section .vagetable-shape {
        display: none;
    }
}

.testimonial-section .chili-shape {
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1199px) {
    .testimonial-section .chili-shape {
        display: none;
    }
}

.testimonial-section .testi-shape {
    position: absolute;
    top: 0;
    left: 0;
}

.testimonial-wrapper.style3 {
    position: relative;
}

.testimonial-wrapper.style3 .btn-wrap .arrow-prev {
    position: absolute;
    top: 70%;
    left: 12%;
    transform: translate(-12%, -70%);
    -webkit-transform: translate(-12%, -70%);
    -moz-transform: translate(-12%, -70%);
    -ms-transform: translate(-12%, -70%);
    -o-transform: translate(-12%, -70%);
}

.testimonial-wrapper.style3 .btn-wrap .arrow-prev i {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: transparent;
    color: var(--theme);
    border: 1px solid var(--theme);
    border-radius: 50%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonial-wrapper.style3 .btn-wrap .arrow-prev i:hover {
    background: var(--title);
    color: var(--white);
    border: 1px solid var(--title);
}

@media (max-width: 1600px) {
    .testimonial-wrapper.style3 .btn-wrap .arrow-prev {
        display: none;
    }
}

.testimonial-wrapper.style3 .btn-wrap .arrow-next {
    position: absolute;
    top: 70%;
    right: 12%;
    transform: translate(-12%, -70%);
    -webkit-transform: translate(-12%, -70%);
    -moz-transform: translate(-12%, -70%);
    -ms-transform: translate(-12%, -70%);
    -o-transform: translate(-12%, -70%);
}

.testimonial-wrapper.style3 .btn-wrap .arrow-next i {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: var(--theme);
    color: var(--white);
    border: 1px solid var(--theme);
    border-radius: 50%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonial-wrapper.style3 .btn-wrap .arrow-next i:hover {
    background: var(--white);
    color: var(--title);
    border: 1px solid var(--white);
}

@media (max-width: 1600px) {
    .testimonial-wrapper.style3 .btn-wrap .arrow-next {
        display: none;
    }
}

.testimonial-card.style3 {
    display: flex;
    gap: 30px;
    padding: 30px;
    margin-top: 40px;
    border-radius: 15px;
    border-top: 5px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    background: var(--white);
    box-shadow: 0px 10px 30px 0px rgba(52, 55, 170, 0.15);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media (max-width: 991px) {
    .testimonial-card.style3 {
        flex-direction: column;
    }
}

.testimonial-card.style3 .testimonial-thumb {
    width: 100%;
    height: 100%;
}

.testimonial-card.style3 .testimonial-thumb img {
    width: 100%;
    height: 100%;
}

.testimonial-card.style3 .testimonial-body {
    position: relative;
}

.testimonial-card.style3 .testimonial-body .quote {
    position: absolute;
    bottom: 0;
    right: -20px;
}

@media (max-width: 767px) {
    .testimonial-card.style3 .testimonial-body .quote {
        right: 0px;
    }
}

.testimonial-card.style3 .testimonial-body .icon {
    margin-bottom: 10px;
}

.testimonial-card.style3 .testimonial-body p {
    margin-bottom: 10px;
    color: var(--dark-text-color);
}

.testimonial-card.style3 .testimonial-body .fancy-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testimonial-card.style3 .testimonial-body .fancy-box .item1 img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonial-card.style3 .testimonial-body .fancy-box .item2 h6 {
    color: var(--dark-text-color);
    font-family: var(--title-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.44px;
}

.testimonial-card.style3 .testimonial-body .fancy-box .item2 p {
    color: var(--dark-text-color);
    font-family: var(--body-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/

.banner {
    background: linear-gradient(135deg, #f97316, #facc15);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 12px;
    width: 100%;
    /* margin: 30px auto; */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
}

.banner h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.1rem;
    margin-bottom: 25px;
    color: #fefce8;
}

.banner a {
    background-color: #16a34a;
    color: white;
    padding: 12px 24px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.banner a:hover {
    background-color: #15803d;
}

@media (max-width: 600px) {
    .banner h1 {
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 1rem;
    }
}


/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 131px;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    min-height: 80px;
    border-bottom: 1px solid #ccece4;
}

.logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    color: var(--primary-color);
    min-height: 40px;
    padding: 0 1.2rem;
}

.nav-links a:hover,
.nav-links a.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
} */

/* =========================== */

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.auth-buttons a.login {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.auth-buttons a.login:hover {
    background-color: #e0f2f1;
}

.auth-buttons a.register {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s;
    border: none;
}

.auth-buttons a.register:hover {
    background-color: #004d40;
}

.main-section {
    padding: 4rem 5%;
}

#intro {
    padding: 2rem 5%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.intro-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.intro-text {
    position: relative;
    z-index: 10;
}

/* Garis pemisah */
.intro-text .divider {
    border: none;
    border-top: 2px solid var(--secondary-color);
    width: 60px;
    margin-bottom: 1.5rem;
}

.intro-text .greeting {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.main-headline {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 128px;
    line-height: 1.0;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.main-headline span {
    display: block;
}

.intro-visual {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-image-1 {
    position: absolute;
    width: 387px;
    height: 449px;
    opacity: 0.2;
    border-radius: 5px;
    object-fit: cover;
    top: 0;
    right: 0;
}

.intro-image-2 {
    position: absolute;
    width: 394px;
    height: 278px;
    opacity: 0.2;
    border-radius: 5px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-desc {
    position: absolute;
    width: 386px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    color: var(--secondary-color);
    bottom: 0;
    right: 0;
}

#populer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 120px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 122px;
    row-gap: 221px;
    width: 100%;
}

.product-card {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-align: left;
}

.product-card img {
    width: 183px;
    height: 181px;
    border-radius: 5px;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
}

.product-info {
    padding: 0;
}

.product-info h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.product-info .price {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.product-info .view-product-btn {
    background-color: var(--secondary-color);
    width: 164px;
    height: 36px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #006E5C;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.3s;
}

.product-info .view-product-btn:hover {
    background-color: #e0e0e0;
}

#tentang {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 121px 120px;
}

.tentang-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: start;
}

.tentang-left,
.tentang-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.tentang-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.tentang-headline {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: var(--secondary-color);
    line-height: 1.0;
    text-transform: uppercase;
}

.headline-inline {
    display: inline-block;
}

.tentang-content-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.tentang-content-block p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 1.6;
    max-width: 387px;
    margin-bottom: 20px;
}

.tentang-content-block p:last-child {
    margin-bottom: 0;
}

.tentang-support-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: var(--secondary-color);
    line-height: 1.2;
    margin-bottom: 20px;
}

.tentang-support-block p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary-color);
    max-width: 396px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.gabung-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary-color);
    text-decoration: underline;
    display: inline-block;
    transition: color 0.3s;
}

.gabung-link:hover {
    color: #b2dfdb;
}

.footer {
    min-height: 40px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 5px 120px;
    width: 100%;
}

.footer-copyright {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer-copyright span {
    font-size: 12px;
}

.social-icons-container {
    display: flex;
    justify-content: center;
}

.social-icons-background {
    width: 136px;
    height: 24px;
    border-radius: 5px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon svg {
    width: 16px;
    height: 16px;
    fill: var(--secondary-color);
    stroke: none;
    transition: transform 0.2s;
}

.social-icon:hover svg {
    transform: scale(1.1);
}

.footer-privacy a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--primary-color);
    text-decoration: none;
    transition: text-decoration 0.2s;
}

.footer-privacy a:hover {
    text-decoration: underline;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal.hidden {
    opacity: 0;
    visibility: hidden;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

.modal-content {
    width: 803px;
    height: 524px;
    max-width: 95%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    z-index: 2001;
    display: flex;
    padding: 5px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #aaa;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.modal-image-container {
    flex-shrink: 0;
}

#modal-image {
    width: 387px;
    height: 516px;
    border-radius: 5px;
    object-fit: cover;
}

.modal-details {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 5px;
}

.modal-store-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-text-color);
    margin-bottom: 11px;
}

.modal-product-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--dark-text-color);
    margin: 0;
    margin-bottom: 5px;
}

.modal-product-price {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--dark-text-color);
    margin: 0;
}

.modal-rating {
    display: flex;
    margin-top: 16px;
    margin-bottom: 37px;
}

.modal-rating svg {
    width: 47px;
    height: 47px;
    fill: #FFF600;
}

.modal-rating svg.star-empty {
    fill: #e0e0e0;
}

.modal-description-box {
    width: 375px;
    height: 67px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
}

#modal-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}


@media (min-width: 2560px) {
    #intro {
        padding: 4rem 10%;
    }

    .main-headline {
        font-size: 180px;
    }

    .intro-text .greeting {
        font-size: 36px;
    }

    .intro-visual {
        height: 900px;
        transform: scale(1.5);
    }
}

@media (min-width: 1440px) {
    #intro {
        padding: 3rem 8%;
    }

    .main-headline {
        font-size: 144px;
    }

    .intro-visual {
        height: 700px;
        transform: scale(1.1);
    }
}

@media (max-width: 1200px) {
    .main-headline {
        font-size: 90px;
    }

    .intro-visual {
        transform: scale(0.8);
        transform-origin: center right;
    }
}

@media (max-width: 1024px) {
    #intro {
        min-height: auto;
        padding: 4rem 5%;
    }

    .intro-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 4rem;
    }

    .intro-text .divider {
        margin-left: auto;
        margin-right: auto;
    }

    .main-headline {
        font-size: 80px;
    }

    .intro-visual {
        height: 450px;
        transform: scale(1);
        width: 100%;
    }

    .intro-image-1,
    .intro-image-2,
    .intro-desc {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 400px;
        right: auto;
    }

    .intro-image-1 {
        top: 0;
    }

    .intro-image-2 {
        display: none;
    }

    .intro-desc {
        bottom: auto;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1rem;
        border-radius: 5px;
        font-size: 16px;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .main-headline {
        font-size: 60px;
    }

    .intro-desc {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    #intro {
        padding: 3rem 5%;
    }

    .main-headline {
        font-size: 50px;
    }

    .intro-text .greeting {
        font-size: 20px;
    }

    .intro-desc {
        font-size: 14px;
        width: 90%;
    }

    .intro-visual {
        height: 350px;
    }
}

@media (max-width: 375px) {
    .main-headline {
        font-size: 44px;
    }
}

@media (max-width: 320px) {
    .main-headline {
        font-size: 38px;
    }

    .intro-text .greeting {
        font-size: 18px;
    }
}